<div class="product-card">


  <img [src]="product.image" alt="{{ product.name }}">


  <h3>{{ product.name }}</h3>


  <p>{{ product.description }}</p>


  <p class="price">{{ product.price | number }} KZT</p>


  <div class="rating">
    <ng-container *ngFor="let star of starsArray; let i = index">
      <span [class.filled]="i < getRoundedRating()">&#9733;</span>
    </ng-container>
    <span class="rating-number">{{ product.rating.toFixed(1) }}</span>
  </div>

  <p>❤ {{ product.likes }}</p>


  <div class="buttons">
    <button (click)="like()">Like</button>
    <button (click)="remove()">Delete</button>
    <button (click)="shareWhatsApp()">WhatsApp</button>
    <button (click)="shareTelegram()">Telegram</button>
  </div>

</div>
