<div class="product-grid">
  <div class="product-card" *ngFor="let product of products">
    <a [href]="product.link" target="_blank">
      <img [src]="selectedImages[product.id] || product.image" alt="{{product.name}}" class="main-image">
    </a>
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p class="price">{{ product.price | number }} KZT</p>
    <div class="rating">
      <ng-container *ngFor="let star of getStars(product.rating)">
  <span [class.filled]="star" [class.empty]="!star">&#9733;</span>
      </ng-container>
      <span>{{ product.rating.toFixed(1) }}</span>
    </div>

    <div class="image-gallery">
      <img *ngFor="let img of product.images" [src]="img" (click)="selectImage(product.id, img)" class="thumb">
    </div>

    <div class="share-buttons">
      <button (click)="shareWhatsApp(product)">WhatsApp</button>
      <button (click)="shareTelegram(product)">Telegram</button>
    </div>
  </div>
</div>
